<div class="panel panel-primary">
  <div class="panel-heading" id="panel_notif">Notifications
    <%= button_to "Supprimer toutes les notifications", {:controller => :notifs,
                                                         :action => 'supprimer'}, :method => :delete, class:"btn btn-danger butt-supp",  data: { confirm: "You sure?" }  %>
  </div>
  <div class="panel-body" id="notification" >
    <%= render @notifs %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Notifications</div>
  <div class="panel-body" >
  <label>Envoie ta notification:</label><br>
  <%=select_tag :user_id, options_for_select(current_user.followers.collect{ |u| [u.name, u.id] } ), class: "form-control", multiple: true%>
  <label>Ton texte:</label><br>
  <input type="text" data-behavior="notification_speaker" id="notification_speaker">
    <form remote="true">
    <%= submit_tag  'Envoyer à tout le monde', id:'everybody', name: current_user.id, class: "btn btn-success"  %>
    </form>
</div>

</div>
