<div class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <%= notif.content %></br>
  Posted <%= time_ago_in_words(notif.created_at) %> ago.

  <%= link_to "delete", notif, method: :delete,
                                   data: { confirm: "You sure?" } %>

</div>
