@charset "utf-8";
/* CSS Document */


#all-pannel {
    position: fixed;
    /*position:expression("absolute");*/
    width: 240px;
    /*display:none;*/
    /*z-index:99;*/
    height:90%;
    bottom: 0px;
    right: 40px;
    display: block;
}

#icon-manage {
    /*	margin-right: 21px;
    background-image:url(../wheels_24.png);
    background-position:center;
    background-repeat:no-repeat;
    padding:20px;
    padding-left:30px;*/
    display: inline-block;
    font-size: small;
}
#title-contact {
    display: inline-block;
    width: 50%;
    font-size: medium;
    font-weight: bold;
}
#icon-accept {
    display: inline-block;
}

#head-panel {
    width: auto;
    text-align: center;
    max-height: 40px;
}
#icon-group-right {
    display: inline-block;
    width: auto;

}
#send-message {
    width: auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    min-height: 35px;
    text-align: right;
    padding-top: 5px;
}
#receive-message {
    min-height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    text-align: left;
    padding-top: 5px;
    width: auto;
    display: block;

}

#message-r {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 7px;
    font-size: 12px;
    height: auto;
    border-bottom-left-radius: 15px;
    font-weight: bold;
    word-wrap: break-word;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #337AB7;
    display: inline-block;
    max-width: 140px;
    width: auto;
    list-style-position: inside;
    white-space: pre-wrap;
    padding-top: 3px;
    padding-bottom: 3px;
}

#message-s {
    list-style-position: inside;
    margin-left: 0px;
    padding-right:7px;
    padding-left: 10px;
    font-size: 12px;
    background-color: #AD9F9F;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    width: auto;
    height: auto;
    max-width: 140px;
    display: inline-block;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    word-wrap:break-word;
}
#input-send {
}
#tchat-body {
    overflow-y: auto;
    height:210px;
}
#tchat-footer { }
#body-contact{overflow-y: auto; height:160px;}
#sizeContact{ margin-bottom:1px; height:200px; display: block;}
#sizeTchat {margin-bottom:0px; height:320px; bottom: 0px; right: 20px; display: block;}
#two-form { width:auto; height:auto; position:fixed; bottom:0px; width:auto; margin-right:10px;}
#head-contact {font-size: large; font-weight: bold; height:30px; text-align:center;}
#head-contact p { margin-top:-8px;}
#one_user { text-decoration:none;}
#user:hover {box-shadow: 0px 0px 7px 3px rgba(119, 119, 119, 0.31);}
#input-send { width: 235px;}
#current_user_id { display: none; }
#receiver_id { display:none; }

@keyframes hover-color {
    from {
        border-color: #c0c0c0; }
    to {
        border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
    position: absolute;
    display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
    cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
    position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
    vertical-align: middle; }
.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
.magic-radio + label:before,
.magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0; }
.magic-radio + label:after,
.magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
    cursor: not-allowed;
    color: #e4e4e4; }
.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
.magic-radio[disabled] + label:hover:before,
.magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
.magic-radio[disabled] + label:before,
.magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
    animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
    display: block; }

.magic-radio + label:before {
    border-radius: 50%; }

.magic-radio + label:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3e97eb; }

.magic-radio:checked + label:before {
    border: 1px solid #3e97eb; }

.magic-radio:checked[disabled] + label:before {
    border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
    background: #c9e2f9; }

.magic-checkbox + label:before {
    border-radius: 3px; }

.magic-checkbox + label:after {
    top: 2px;
    left: 7px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0; }

.magic-checkbox:checked + label:before {
    border: #3e97eb;
    background: #3e97eb; }

.magic-checkbox:checked[disabled] + label:before {
    border: #c9e2f9;
    background: #c9e2f9; }
