// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#delete {
  float: right;
  margin-top: 2px;
  margin-bottom: 2px;
  position: inherit;
}

#panel_notif {
  height: 120px;
  font-size: 30px;
  font-weight: bold;
}