
    <div class="panel panel-primary"  id="sizeTchat">
      <div class="panel-heading" id="head-panel">
        <p id="title-contact"> Messages </p>
      </div>
      <div class="panel-body" id="tchat-body">
      </div>

      <div class="panel-footer" id="tchat-footer" >
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Votre message" id="conversation_speaker" data-behavior="conversation_speaker">
             <span class="input-group-btn">
               <button class="btn btn-default" id="butSendMessage" type="button"><%= image_tag("send-img.png", :alt => "rss feed") %></button>
             </span>
        </div><!-- /input-group -->
      </div>

    </div>

<script type="text/javascript" >
  $("#tchat-body").scrollTop($("#tchat-body")[0].scrollHeight);
</script>