<div class="panel panel-primary"  id="sizeContact" data-turbolinks-permanent>
  <div class="panel-heading" id="head-contact">
    <p>Contacts</p>
  </div>
  <div class="panel-body" id="body-contact">
    <!-- boucle users -->
      <form remote="true">
      <% for follower in current_user.followers do %>
            <li>
              <input class="magic-radio" type="radio" id="<%= follower.id %>" data-radio="receiver_id" name="receiver_id" value="<%= follower.name %>">
              <label for="<%=follower.id%>">
                <%= link_to gravatar_for(follower, size: 30), "#", "name"=> "utilisateur" %>
                <a href="#"> <%= follower.name %> </a>
              </label>
            </li><br>
    <% end %>
    </form>
    <!-- fin de boucle -->
    <br>
  </div>
</div>
  <input id="current_user_id" data-behavior="conversation_speaker" value="<%= current_user[:id] %>" >
  <input id="receiver_id" data-behavior="conversation_speaker" value="" >