<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
			<% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				 <i class="fa fa-cog fa-2x"></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Compte", current_user %></li>
				  <li><%= link_to "Configuration", edit_user_path(current_user) %></li>
            </ul>
			 </li>
			<% end %>

        <li><%= link_to "Aide",   help_path %></li>
      <li><%= link_to "A propos",   about_path %></li>
      <li><%= link_to "Nous joindre ", contact_path %></li>
    </ul>
  </nav>
</footer>
