<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
			<li class="<%= active_class(root_path)%>" >
				 <%= link_to root_path do %>
    				<span class="fa-stack fa-lg">
						<i class="fa fa-home fa-stack " style="color:White;"></i>
					</span>
  				  <% end %>
		 	</li>
        <% if logged_in? %>
          <li class="<%= active_class(users_path)%>" > 	
				  <%= link_to users_path do %>
    				<span class="fa-stack fa-lg">
						<i class="fa fa-users fa-stack " style="color:#007AA3;"></i>
					</span> 
				<% end %>
			</li>
         <li class="<%= active_class(notifications_path)%>">
			  <%= link_to  notifications_path do %>
    		   <span class="fa-stack fa-lg">
  				 <i class="fa fa-bell fa-stack" aria-hidden="true" style="color:green;"></i>
				</span>
  			  <% end %>
			</li>
  				 

          <li>
			  <%= link_to logout_path, method: :delete do %>
    		   <span class="fa-stack fa-lg">
  				 <i class="fa fa-power-off fa-stack" style="color:red;"></i>
				</span>
  			  <% end %>
           </li>
    

        <% else %>
          <li>
				<%= link_to login_path do %>
    			 <span class="fa-stack fa-lg">
  					<i class="fa fa-power-off fa-stack" style="color:green;"></i>
				 </span>
  				<% end %>
			</li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
